.players {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-download {
    width: 370px;
    height: 40px;
    cursor: pointer;
    background: rgb(98, 0, 128);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.players-container {
    width: 100%;
    max-width: 600px;
    height: max-content;
    background: rgb(44, 44, 44);
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.players-container__item {
    position: relative;
    width: 100%;
    height: max-content;
    background: rgb(52, 52, 52);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px 8px;
    border-radius: 4px;
}

.players-container__item_name {
    font-size: 14px;
    font-weight: 500;
    color: lightgrey;
}

.players-container__item_team {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

.players-container__item_position {
    font-size: 16px;
    font-weight: 700;
    color: lightgrey;
}

.players-search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.players-search__form_input {
    width: 250px;
    height: 40px;
    border: 1px solid grey;
    background: transparent;
    padding: 0 12px;
    color: white;
    font-size: 12px;
}

.players-search__form_button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: rgb(98, 0, 128);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    margin-left: 12px;
}

.players-container__item_form {
    display: flex;
    column-gap: 8px;
    align-items: center;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.players-container__item_form_fav {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

.players-container__item_form_button {
    border: none;
    background: transparent;
    cursor: pointer;
}
