.player {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.player-container {
    width: 100%;
    max-width: 600px;
    height: max-content;
    background: #f2f3f6;
    padding: 32px 16px;
    border-radius: 4px;
}

.player-container__name {
    font-size: 24px;
    font-weight: 700;
    color: #13131c;
    margin-bottom: 32px;
}

.player-container__item {
    font-size: 16px;
    font-weight: 400;
    color: #34353e;
    margin-bottom: 16px;
}

.player-container__item span {
    font-weight: 500;
}
