{% load static %}

<html>
    <head>
        <title>{% block title %}Liga{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <header class="main-header">
            <nav>
                <ul>
                    <li>mecze</li>
                    <li>tabela</li>
                    <li>styatystyki</li>
                </ul>
            </nav>
        </header>
        <main>
            {% block body_content %}Default{% endblock %}
        </main>
    </body>
</html>