{% load static %}

<html>
    <head>
        <title>{% block title %}Liga{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/matches.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/match.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/club.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/statistics.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/players.css' %}" />
    </head>
    <body>
        <header class="main-header">
            <nav>
                <ul>
                    <a href="{% url 'main:index' %}">
                        <li>mecze</li>
                    </a>
                    <a href="{% url 'main:table' %}">
                        <li>tabela</li>
                    </a>
                    <a href="{% url 'main:statistics' %}">
                        <li>styatystyki</li>
                    </a>
                    <a href="{% url 'main:players' %}">
                        <li>zawodnicy</li>
                    </a>
                </ul>
            </nav>
        </header>
        <main>{% block body_content %}Default{% endblock %}</main>
    </body>
</html>
