{% extends "layout.html" %} {% block title %}Mecz{% endblock %} {% block body_content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var show = function (elem) {
        elem.style.display = "block";
    };

    var hide = function (elem) {
        elem.style.display = "none";
    };

    var toggle = function (elem, elem2) {
        show(elem);
        hide(elem2);
    };

    document.addEventListener(
        "click",
        function (event) {
            if (event.target.classList.contains("toggle-team")) {
                event.preventDefault();

                var content = document.querySelector("#team");
                var content2 = document.querySelector("#stats");
                if (!content) return;

                toggle(content, content2);
            }
            if (event.target.classList.contains("toggle-stats")) {
                event.preventDefault();

                var content = document.querySelector("#stats");
                var content2 = document.querySelector("#team");
                if (!content) return;

                toggle(content, content2);
            }
        },
        false
    );
</script>
<div class="match-container">
    <div class="match-header">
        <div class="match-header__date">{{match.date}}</div>
        <div class="match-header__teams">
            <div class="match-header__teams_name">{{match.host.name}}</div>
            <div class="match-header__teams_outcome">{{hostGoals}} - {{guestGoals}}</div>
            <div class="match-header__teams_name2">{{match.guest.name}}</div>
        </div>
        {% if goals %}
        <div class="match-header_goals_icon">Gole</div>
        {% endif %}
        <div class="match-header__goals_container">
            <div class="match-header__goals_left">
                {% for item in goals %} {% if item.player.team.id == match.host.id and item.event_type != 'GPEN' %}
                <div class="match-header__goals_left_item">
                    {{item.player.first_name}} {{item.player.last_name}} {{item.minute}}'
                </div>
                {% elif item.player.team.id == match.host.id %}
                <div class="match-header__goals_left_item">
                    {{item.player.first_name}} {{item.player.last_name}} {{item.minute}}' (K)
                </div>
                {% endif %} {% endfor %}
            </div>
            <div class="match-header__goals_right">
                {% for item in goals %} {% if item.player.team.id == match.guest.id and item.event_type != 'GPEN' %}
                <div class="match-header__goals_left_item">
                    {{item.player.first_name}} {{item.player.last_name}} {{item.minute}}'
                </div>
                {% elif item.player.team.id == match.guest.id %}
                <div class="match-header__goals_left_item">
                    {{item.player.first_name}} {{item.player.last_name}} {{item.minute}}' (K)
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
    <div class="match-switches">
        <a class="match-switches__button toggle-team" href="#team">Skład</a>
        <a class="match-switches__button toggle-stats" href="#stats">Statystyki</a>
    </div>
    <div class="match-body">
        <div class="match-body__lineup toggle-content" id="team">
            <div class="match-body__lineup_team">{{match.host.name}}</div>
            <div class="match-body__lineup_pitch">
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamHost|slice:"0:1" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamHost|slice:"1:2" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"2:3" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"3:4" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"4:5" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamHost|slice:"5:6" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"6:7" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"7:8" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamHost|slice:"8:9" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"9:10" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamHost|slice:"10:11" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_spacer"></div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamGuest|slice:"10:11" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"9:10" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"8:9" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamGuest|slice:"7:8" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"6:7" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"5:6" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamGuest|slice:"4:5" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"3:4" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"2:3" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %} {% for player in pitchTeamGuest|slice:"1:2" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="match-body__lineup_pitch_row">
                    {% for player in pitchTeamGuest|slice:"0:1" %}
                    <div class="match-body__lineup_pitch_player">
                        <div class="match-body__lineup_pitch_player_number_2">{{player.shirt_number}}</div>
                        <div class="match-body__lineup_pitch_player_name">
                            {{player.first_name}} {{player.last_name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="match-body__lineup_team">{{match.guest.name}}</div>
            {% if changesHost or changesGuest %}
            <div class="match-body__lineup_sub">
                <div class="match-body__lineup_name">Zmiany</div>
                <div class="match-body__lineup_sub_title">
                    <div class="match-body__lineup_sub_side">{{match.host.name}}</div>
                    <div class="match-body__lineup_sub_side">{{match.guest.name}}</div>
                </div>
                <div class="match-body__lineup_sub_container">
                    <div class="match-body__lineup_sub_container_left">
                        {% for change in changesHost %}
                        <div class="match-body__lineup_sub_container_player">
                            <div class="change_icon"></div>
                            <div class="match-body__lineup_sub_container_player_name">
                                <span>{{change.minute}}'</span>
                                <span>{{change.in_player.shirt_number}}</span>
                                {{change.in_player.first_name}} {{change.in_player.last_name}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="match-body__lineup_sub_container_right">
                        {% for change in changesGuest %}
                        <div class="match-body__lineup_sub_container_player">
                            <div class="change_icon_2"></div>
                            <div class="match-body__lineup_sub_container_player_name">
                                {{change.in_player.first_name}} {{change.in_player.last_name}}
                                <span>{{change.in_player.shirt_number}}</span>
                                <span>{{change.minute}}'</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="match-body__lineup_manager_name">Manager</div>
            <div class="match-body__lineup_manager">
                <div class="match-body__lineup_manager_side">{{match.host.manager}}</div>
                <div class="match-body__lineup_manager_side">{{match.guest.manager}}</div>
            </div>
        </div>
        <div class="atch-body__stats-outer" id="stats" style="display: none">
            <div class="match-body__stats">
                <div class="match-body__stats_item">{{match.host.name}}</div>
                <div class="match-body__stats_middle">Statystyki</div>
                <div class="match-body__stats_item_2">{{match.guest.name}}</div>
                <div class="match-body__stats_item">{{eventsHost.shots}}</div>
                <div class="match-body__stats_middle">Strzały</div>
                <div class="match-body__stats_item_2">{{eventsGuest.shots}}</div>
                <div class="match-body__stats_item">{{eventsHost.fouls}}</div>
                <div class="match-body__stats_middle">Faule</div>
                <div class="match-body__stats_item_2">{{eventsGuest.fouls}}</div>
                <div class="match-body__stats_item">{{eventsHost.yellows}}</div>
                <div class="match-body__stats_middle">Żółte kartki</div>
                <div class="match-body__stats_item_2">{{eventsGuest.yellows}}</div>
                <div class="match-body__stats_item">{{eventsHost.reds}}</div>
                <div class="match-body__stats_middle">Czerwone kartki</div>
                <div class="match-body__stats_item_2">{{eventsGuest.reds}}</div>
                <div class="match-body__stats_item">{{eventsHost.pens}}</div>
                <div class="match-body__stats_middle">Karne</div>
                <div class="match-body__stats_item_2">{{eventsGuest.pens}}</div>
                <div class="match-body__stats_item">{{eventsHost.offsides}}</div>
                <div class="match-body__stats_middle">Spalony</div>
                <div class="match-body__stats_item_2">{{eventsGuest.offsides}}</div>
                <div class="match-body__stats_item">{{eventsHost.corners}}</div>
                <div class="match-body__stats_middle">Rożne</div>
                <div class="match-body__stats_item_2">{{eventsGuest.corners}}</div>
                <div class="match-body__stats_item">{{eventsHost.freekicks}}</div>
                <div class="match-body__stats_middle">Wolne</div>
                <div class="match-body__stats_item_2">{{eventsGuest.freekicks}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
