{% extends "layout.html" %} {% block title %}Mecze{% endblock %} {% block body_content %}
<div class="outer-matches">
    {% for item in matches %}
    <div class="matches">
        {% if item.row %}
        <div class="matches-header">Kolejka {{ item.round }} z {{rowsMax}}</div>
        <div class="matches-body">
            {% for match in item.row %}
            <a href="{% url 'main:match' match.id %}">
                <div class="matches-content">
                    <div class="matches-content__teams">
                        <div class="matches-content__teams_item">
                            {{match.host.name}} <span>{{match.goalsHost}}</span>
                        </div>
                        {% if match.outcome == 1 %}
                        <div class="matches-winner"></div>
                        {% endif %}
                        <div class="matches-content__teams_item">
                            {{match.guest.name}} <span>{{match.goalsGuest}}</span>
                        </div>
                        {% if match.outcome == -1 %}
                        <div class="matches-winner-2"></div>
                        {% endif %}
                    </div>
                    <div class="matches-content__date">{{match.date}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
