{% extends "layout.html" %} {% block title %}Zawodnik{% endblock %} {% block body_content %}
<div class="player">
    <div class="player-container">
        <div class="player-container__name">{{player.first_name}} {{player.last_name}}</div>
        <div class="player-container__item">
            <span>Numer koszulki: </span>
            {{player.shirt_number}}
        </div>
        <div class="player-container__item">
            <span>Data urodzenia: </span>
            {{player.birth_date}}
        </div>
        <div class="player-container__item">
            <span>Wzrost: </span>
            {{player.height}} cm
        </div>
        <div class="player-container__item">
            <span>Waga: </span>
            {{player.weight}} kg
        </div>
        <div class="player-container__item">
            <span>Druzyna: </span>
            {{player.team.name}}
        </div>
        <div class="player-container__item">
            <span>Pozycja: </span>
            {{player.position}}
        </div>
    </div>
</div>
{% endblock %}
