{% extends "layout.html" %} {% block title %}Zawodnik{% endblock %} {% block body_content %}
<div class="player">
    <div class="player-container">
        <div class="player-container__name">Firstname Lastname</div>
        <div class="player-container__item">
            <span>Numer koszulki: </span>
            00
        </div>
        <div class="player-container__item">
            <span>Data urodzenia: </span>
            YYYY-MM-DD
        </div>
        <div class="player-container__item">
            <span>Wzrost: </span>
            000 cm
        </div>
        <div class="player-container__item">
            <span>Waga: </span>
            00 kg
        </div>
        <div class="player-container__item">
            <span>Druzyna: </span>
            Arsenal
        </div>
        <div class="player-container__item">
            <span>Pozycja: </span>
            GK
        </div>
    </div>
</div>
{% endblock %}
