{% extends "layout.html" %} {% block title %}Statystyki{% endblock %} {% block body_content %}
<div class="stats-outer">
    <div class="stats">
        <div class="stats-header">Statystyki</div>
        <div class="stats-container">
            <div class="stats-container__title">Gole</div>
            <div class="stats-container__table">
                <div class="stats-container__table_names">
                    <div class="stats-container__table_names_item">Gracze</div>
                    <div class="stats-container__table_names_item">Liczba goli</div>
                </div>
                {% for item in goals %}
                <div class="stats-container__table_item">
                    <div class="stats-container__table_item_info">
                        <div class="stats-container__table_item_info_position">{{item.index}}</div>
                        <div class="stats-container__table_item_info_content">
                            <span>{{item.player.first_name}} {{item.player.last_name}}</span>
                            <br />
                            {{item.player.team.name}}
                        </div>
                    </div>
                    <div class="stats-container__table_item_outcome">{{item.total}}</div>
                </div>
                {% endfor %}
            </div>
            <canvas id="myChartGoals" width="400" height="200"></canvas>
            <script type="text/javascript">
                var ctx = document.getElementById('myChartGoals').getContext('2d');
                var myChart1 = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [{% for item in goals %} '{{ item.player.first_name }} {{ item.player.last_name }}', {% endfor %}],
                        datasets: [{
                            label:'Gender',
                            data: [{% for item in goals  %} '{{ item.total }}', {% endfor %}],
                            backgroundColor:[
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(151, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(25, 206, 86, 1)',
                            'rgba(211, 192, 192, 1)',
                            'rgba(234, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'gree',
                            'yellow',
                            ],
                            borderWidth: 0
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>
        </div>
        <div class="stats-container">
            <div class="stats-container__title">Asysty</div>
            <div class="stats-container__table">
                <div class="stats-container__table_names">
                    <div class="stats-container__table_names_item">Gracze</div>
                    <div class="stats-container__table_names_item">Liczba asyst</div>
                </div>
                {% for item in assists %}
                <div class="stats-container__table_item">
                    <div class="stats-container__table_item_info">
                        <div class="stats-container__table_item_info_position">{{item.index}}</div>
                        <div class="stats-container__table_item_info_content">
                            <span>{{item.plyer.first_name}} {{item.player.last_name}}</span>
                            <br />
                            {{item.player.team.name}}
                        </div>
                    </div>
                    <div class="stats-container__table_item_outcome">{{item.total}}</div>
                </div>
                {% endfor %}
            </div>
            <canvas id="myChartAssists" width="400" height="200"></canvas>
            <script type="text/javascript">
                var ctx = document.getElementById('myChartAssists').getContext('2d');
                var myChart1 = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [{% for item in assists %} '{{ item.player.first_name }} {{ item.player.last_name }}', {% endfor %}],
                        datasets: [{
                            label:'Gender',
                            data: [{% for item in assists  %} '{{ item.total }}', {% endfor %}],
                            backgroundColor:[
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(151, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(25, 206, 86, 1)',
                            'rgba(211, 192, 192, 1)',
                            'rgba(234, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'gree',
                            'yellow',
                            ],
                            borderWidth: 0
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>
        </div>
        <div class="stats-container">
            <div class="stats-container__title">Zółte kartki</div>
            <div class="stats-container__table">
                <div class="stats-container__table_names">
                    <div class="stats-container__table_names_item">Gracze</div>
                    <div class="stats-container__table_names_item">Liczba kartek</div>
                </div>
                {% for item in yellows %}
                <div class="stats-container__table_item">
                    <div class="stats-container__table_item_info">
                        <div class="stats-container__table_item_info_position">{{item.index}}</div>
                        <div class="stats-container__table_item_info_content">
                            <span>{{item.player.first_name}} {{item.player.last_name}}</span>
                            <br />
                            {{item.player.team.name}}
                        </div>
                    </div>
                    <div class="stats-container__table_item_outcome">{{item.total}}</div>
                </div>
                {% endfor %}
            </div>
            <canvas id="myChartYellows" width="400" height="200"></canvas>
            <script type="text/javascript">
                var ctx = document.getElementById('myChartYellows').getContext('2d');
                var myChart1 = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [{% for item in yellows %} '{{ item.player.first_name }} {{ item.player.last_name }}', {% endfor %}],
                        datasets: [{
                            label:'Gender',
                            data: [{% for item in yellows  %} '{{ item.total }}', {% endfor %}],
                            backgroundColor:[
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(151, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(25, 206, 86, 1)',
                            'rgba(211, 192, 192, 1)',
                            'rgba(234, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'gree',
                            'yellow',
                            ],
                            borderWidth: 0
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>
        </div>
        <div class="stats-container">
            <div class="stats-container__title">Czerwone kartki</div>
            <div class="stats-container__table">
                <div class="stats-container__table_names">
                    <div class="stats-container__table_names_item">Gracze</div>
                    <div class="stats-container__table_names_item">Liczba kartek</div>
                </div>
                {% for item in reds %}
                <div class="stats-container__table_item">
                    <div class="stats-container__table_item_info">
                        <div class="stats-container__table_item_info_position">{{item.index}}</div>
                        <div class="stats-container__table_item_info_content">
                            <span>{{item.player.first_name}} {{item.player.last_name}}</span>
                            <br />
                            {{item.player.team.name}}
                        </div>
                    </div>
                    <div class="stats-container__table_item_outcome">{{item.total}}</div>
                </div>
                {% endfor %}
            </div>
            <canvas id="myChartReds" width="400" height="200"></canvas>
            <script type="text/javascript">
                var ctx = document.getElementById('myChartReds').getContext('2d');
                var myChart1 = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [{% for item in reds %} '{{ item.player.first_name }} {{ item.player.last_name }}', {% endfor %}],
                        datasets: [{
                            label:'Gender',
                            data: [{% for item in reds  %} '{{ item.total }}', {% endfor %}],
                            backgroundColor:[
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(151, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 135, 1)',
                            'rgba(25, 206, 86, 1)',
                            'rgba(211, 192, 192, 1)',
                            'rgba(234, 102, 132, 1)',
                            'rgba(153, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'gree',
                            'yellow',
                            ],
                            borderWidth: 0
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>
        </div>
        <div class="stats-container">
            <div class="stats-container__title">Dodatkowe statystyki</div>
            <div class="stats-container__table">
                <div class="stats-container__table_extra">
                    <div class="stats-container__table_names_item">Gole w meczu</div>
                    <div class="stats-container__table_extra_item">Nawięcej: <span>{{goalsExtra.max}}</span></div>
                    <div class="stats-container__table_extra_item">
                        Średnio: <span>{{goalsExtra.avg |floatformat:"2"}}</span>
                    </div>
                    <div class="stats-container__table_extra_item">Najmniej: <span>{{goalsExtra.min}}</span></div>
                </div>
                <div class="stats-container__table_extra">
                    <div class="stats-container__table_names_item">Asysty w meczu</div>
                    <div class="stats-container__table_extra_item">Nawięcej: <span>{{assistsExtra.max}}</span></div>
                    <div class="stats-container__table_extra_item">
                        Średnio: <span>{{assistsExtra.avg |floatformat:"2"}}</span>
                    </div>
                    <div class="stats-container__table_extra_item">Najmniej: <span>{{assistsExtra.min}}</span></div>
                </div>
                <div class="stats-container__table_extra">
                    <div class="stats-container__table_names_item">Żółte kartki w meczu</div>
                    <div class="stats-container__table_extra_item">Nawięcej: <span>{{yellowsExtra.max}}</span></div>
                    <div class="stats-container__table_extra_item">
                        Średnio: <span>{{yellowsExtra.avg |floatformat:"2"}}</span>
                    </div>
                    <div class="stats-container__table_extra_item">Najmniej: <span>{{yellowsExtra.min}}</span></div>
                </div>
                <div class="stats-container__table_extra">
                    <div class="stats-container__table_names_item">Czerwone kartki w meczu</div>
                    <div class="stats-container__table_extra_item">Nawięcej: <span>{{redsExtra.max}}</span></div>
                    <div class="stats-container__table_extra_item">
                        Średnio: <span>{{redsExtra.avg |floatformat:"2"}}</span>
                    </div>
                    <div class="stats-container__table_extra_item">Najmniej: <span>{{redsExtra.min}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
