{% extends "layout.html" %} {% block title %}Tabela{% endblock %} {% block body_content %}
<div class="table">
    <div class="table-header">Sezon: <span>2022-23</span></div>
    <div>
        <div class="table-team-header">
            <div class="table-team-header__club">Klub</div>
            <div class="table-team-header__content">MP</div>
            <div class="table-team-header__content">W</div>
            <div class="table-team-header__content">D</div>
            <div class="table-team-header__content">L</div>
            <div class="table-team-header__content">GF</div>
            <div class="table-team-header__content">GA</div>
            <div class="table-team-header__content">GD</div>
            <div class="table-team-header__content">Pts</div>
            <div class="table-team-header__last">Ostatnie 5</div>
        </div>
        {% for team in teams %}
        <div class="table-team">
            <div class="table-team__club">
                <a href="{% url 'main:club' team.id %}">{{ team.index }} {{team.name}}</a>
            </div>
            <div class="table-team__content">{{team.mp}}</div>
            <div class="table-team__content">{{team.w}}</div>
            <div class="table-team__content">{{team.d}}</div>
            <div class="table-team__content">{{team.l}}</div>
            <div class="table-team__content">{{team.gf}}</div>
            <div class="table-team__content">{{team.ga}}</div>
            <div class="table-team__content">{{team.gd}}</div>
            <div class="table-team__content">{{team.pts}}</div>
            <div class="table-team__last">
                {% for match in team.matches %} {% if match == 3 %}
                <div class="table-icon table-win-icon"></div>
                {% elif match == 1 %}
                <div class="table-icon table-draw-icon"></div>
                {% elif match == 0 %}
                <div class="table-icon table-loss-icon"></div>
                {% endif %} {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="table-footer">
        <div class="table-footer__title">Ostatnie 5 meczy (Legenda):</div>
        <div class="table-footer__text">
            <div class="table-icon table-win-icon"></div>
            Wygrana
        </div>
        <div class="table-footer__text">
            <div class="table-icon table-draw-icon"></div>
            Remis
        </div>
        <div class="table-footer__text">
            <div class="table-icon table-loss-icon"></div>
            Przegrana
        </div>
    </div>
</div>
{% endblock %}
